body {
	margin: 0;
	background-color: #DCDCDC;
	font-family: 'Exo', sans-serif;
}
a {
	color: white;
	text-decoration: none;
}
h1 {
    font-size: 60px;
}
header {
	background-image: url(../images/stars.jpg);
	text-align: center;
	color: white;
	height: 200px;
}
nav {
	font-size: 20px;
	text-transform: uppercase;
}
main {
	text-align: center;
}
img {
	border-radius: 50%;
    border: 1px solid white;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
}